@import "tailwindcss";



@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-120px) scale(1.2);
    opacity: 0;
  }
}

.animate-float {
  animation: float 5s infinite ease-in-out;
}
